@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Poppins;

}


html,
body {
    height: 100%;
}



a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;

}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}


html::-webkit-scrollbar-thumb {
    background-color: #CDB0FF;
    ;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #bb98f8;
}

html::-webkit-scrollbar {
    width: 0.8vw;
}






